{%extends 'base.html'%}

{%block content%}
<header>
    <div class="container">
        <div class="profile_main">

            <div class="profile_pic">
                <img src="{{profile_user.userprofile.profile_pic.url}}">
            </div>

            <div class="profile_settings">

                <h1 class="profile_title">{{profile_user.username}}</h1>

                {%if profile_user == user%}
                <a href="/profile/{{profile_user.userprofile.user_id}}/update">
                    <button class="profile-edit-btn">Edit Profile</button>
                </a>

                <a href="/profile/{{profile_user.username}}/register_update">
                    <button class="btn profile-settings-btn"><i class="fa fa-gear"></i></button>
                </a>

                {%else%}

                {%if follow%}
                <form method="post" action=""> {%csrf_token%}
                    <button class="follow-btn">Follow</button>
                </form>
                {%else%}
                <form method="post" action=""> {%csrf_token%}
                    <button class="follow-btn">Unfollow</button>
                </form>

                {%endif%}
                {%endif%}
            </div>

            <div class="follow_stats">
                <ul>
                    <li>
                        <a href="/profile/{{profile_user.username}}/followers"><span>Followers <strong>{{followers}}</strong>
                </span></a></li>
                    <li>
                        <a href="/profile/{{profile_user.username}}/follows"><span>Following <strong>{{follows}}</strong></span>
                        </a></li>
                </ul>
            </div>
            <br><br>
            <div class="profile_description">
                <span>{{profile_user.userprofile.description|linebreaks}}</span>
            </div>
        </div>

    </div>
</header>

<main>
    <div class="row">
        {%for p in post%}
        {%if p.author == profile_user%}
        <div class="column">
            <a href="/p/{{p.id}}/"><img class="gallery_image" src="{{p.image.url}}"></a>
        </div>
        {%endif%}
        {%endfor%}

    </div>
    <div class="loader"></div>
</main>

{%endblock%}